beautifulsoup4==4.13.5
chromadb==1.1.0
google-genai==2.16.0
langchain-text-splitters==0.3.11
numpy
paddleocr==2.7.0.3
paddlepaddle==2.6.1
Pillow
pymupdf
pypdf==6.1.1
python-dotenv==1.1.1
truststore==0.10.4
